.home-page {
  width: 100%;
  height: auto;
}

.home-container {
  margin-top: -200px;
  max-width: 1300px;
  padding: 60px 20px;
}

.home-content {
  height: 770px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* LEFT SIDE TEXT */
.home-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
}

.home-title {
  width: 752px;
  font-family: "Satoshi Variable";
  font-size: 48px;
  font-weight: 300;
  color: #333;
  line-height: 67px;
  margin-bottom: 20px;
  text-align: left;
}

.home-subtext {
  font-size: 18px;
  color: #555;
  line-height: normal;
  margin-bottom: 40px;
  text-align: left;
}

/* BUTTON */
.home-btn {
  width: 140px;
  height: 50px;
  background-color: #b47b3d !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  border-radius: 10px !important;
  padding: 30px 30px !important;
  text-transform: none !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease;
}

.home-btn:hover {
  background-color: #9b6833 !important;
}

/* RIGHT SIDE IMAGE */
.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.home-image img {
  width: 430px;
  height: 769px;
  object-fit: cover;
  background: none;
}

/* Our values  */
.home-page .our-values {
  width: 100%;
  height: 575px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 81px;
  padding: 50px;
}
.home-page .our-values img {
  width: 470px;
  height: 373px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
.home-page .our-values .value-content {
  display: flex;
  width: 587px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.home-page .our-values .value-title {
  font-size: 30px;
  font-family: "Trebuchet MS";
}
.home-page .our-values .value-txt {
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* best sellins */
.home-page .best-selling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.home-page .best-selling .best-title {
  text-align: center;
  padding-bottom: 50px;
}
.home-page .best-selling .best-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 37px;
  margin-bottom: 40px;
}
.home-page .best-selling .card {
  background-color: #123712;
  width: 260px;
  height: 442px;
  flex-shrink: 0;
}
